name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install dependencies
      run: npm install

    - name: SonarQube Scan
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      run: |
        npx sonar-scanner \
        -Dsonar.projectKey=my_ui \
        -Dsonar.sources=. \
        -Dsonar.host.url=$SONAR_HOST_URL \
        -Dsonar.login=$SONAR_TOKEN

    # ⛔ If SonarQube fails → pipeline STOPS here automatically

    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
        -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build Docker image
      run: docker build -t saivenkatvaraprasady/my_ui:v2 .

    - name: Push Docker image
      run: docker push saivenkatvaraprasady/my_ui:v2

    - name: Pull image (verification)
      run: docker pull saivenkatvaraprasady/my_ui:v2

    - name: Save image as tar
      run: docker save saivenkatvaraprasady/my_ui:v2 -o my_ui_v2.tar

    - name: Upload image tar artifact
      uses: actions/upload-artifact@v4
      with:
        name: my_ui_docker_tar
        path: my_ui_v2.tar
